# Configuration profile - Production
# Docker Secrets, Environment variables
ENV=development
DEV=true
SELENIUM_HUB_URL=http://selenium-hub:4444
CUSTOM_USER_AGENT=MySpider/1.0
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_HOSTNAME=127.0.0.1
